@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Niconne&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: rgb(142, 218, 231);
    text-decoration: unset;
}
ul {
    list-style: none;
    margin-left: 1.5rem;
}
button, input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}
.navabr {
  background-color: tomato;
}
/* General style*/
body {
  font-family: 'Roboto', sans-serif;
}
/* Header*/
.header {
  height: 3em;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(163, 33, 10);
  display: flex;
}
.header .title {
  color: #ffffff;
  margin: 0;
  padding: 0 1em;
}
.header .auth-buttons {
 display: flex;
 height: 100%;
}
.table {
  margin: auto;
  padding: 1em;
}

.container {
  margin: auto;
  padding: 0;
}
.form {
  max-width: 600px;
  margin: auto;
}
.register {
  font-family: 'Roboto';
  margin: 30px auto;
  text-align: center;
}
.app-container{
  max-width: 600px;
  margin: 10vh auto;
}
 .input  {
  display: block; 
  width: 100%;
  margin: auto;
  background-color: rgb(247, 250, 245);
}
.error-alert {
  border: 1px solid rgb(235, 11, 11);
  background-color: rgb(238, 192, 192);
  color: red;
  padding: 0.4rem;
  display: flex;
  border-radius: 6px;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;  
}
.error-alert button {
 font-size: 1rem;
 font-weight: 700; 
 color: red; 
 margin: 0 0.4rem;
 
}
.profile {
  max-width: 600px;
  margin: 20vh auto;
}
.welcom {
  text-align: center;
  background: #0e441c;
  padding: 0.2em;
  border: 1px solid #2f2626;
  margin: 2rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
.link {
  margin-top: 0.5em;
  color: #ffffff;
  font-weight: 700; 
}

#btn {
  width: 100%;
  background-color: #47804cf5;
  margin: 0.6rem auto;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  font-weight: 700;
}
#btn:hover {
  width: 100%;
  background-color: #88b38cf5;
  margin: 0.6rem auto;
  color: rgb(13, 58, 9);
  padding: 0.5em;
  border-radius: 6px;
  font-weight: 700;
}
/* media query */
@media screen and (max-width: 500px) {
  .header .title {
    font-size: 1.1rem;
}
.header .auth-buttons button {
  padding: 0 0.5rem;
  font-size: 0.9rem;
}
.container .form {
 align-items: center;
 width: 80%;
 margin: 25vh auto;
 justify-content: center;

}
}


